.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 30px auto; /* défini les marges de la carte, ici 30px*/
    width: 300px; /* défini la largeur de la carte, ici 300px*/
    height: 300px; /* défini la hauteur de la carte, ici 300px*/
    border-radius: 40px; /* défini l'arrondissement des angles de la carte, ici 40px*/
    background-color: #ffc947; /* défini la couleur de fond de la carte*/
   
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22); /* défini la puissance de l'ombre derrière la carte*/
    cursor: pointer; /* quand on passe la souris sur la carte elle passe sous la forme d'un pointer*/
    transition: 0.4s; /* durée de l'effet quand on passe la souris sur la carte*/ 
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;


    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: -180px;
    height: 40px;
}


.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
border-color: black;
text-shadow: 2px 2px #111111
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }

  .btn {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
